/* Small devices (landscape phones, 576px and up) */

body {
  padding-top: 56px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body {
    padding-top: 0px;
  }
}

/* Keep pointer with JS scrolling links */
.nav-link, .navbar-brand, .scroll-link {
  cursor: pointer;
}

.carousel-control-circle {
  border-radius: 50%;
  width: 2em;
  height: 2em; 
}

.navsection {
  width: 12em;
  max-width: 12em;
}