body {
  padding-top: 56px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body {
    padding-top: 0px;
  }
}

/* Enable pointer on scrolling links */
.nav-link, .navbar-brand, .scroll-link, .pointer {
  cursor: pointer;
}

.carousel-control-circle {
  border-radius: 50%;
  width: 2em;
  height: 2em; 
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.navsection {
  width: 6em;
}

.left-nav {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.social-nav-links {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.nav-link {
  position: relative;
}

/* Navitem / icon fade */
.icon {
  position: relative;
  /* Adjust these values accordingly */
  bottom: 0.1em;
  padding: 0.5em;

  -webkit-transition: opacity 0.25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-transition: opacity 0.25s; /* Firefox < 16 */
  -ms-transition: opacity 0.25s; /* Internet Explorer */
  -o-transition: opacity 0.25s; /* Opera < 12.1 */
  transition: opacity 0.25s;
}
.icon-label {
  position: absolute;
  left: 50%;
  opacity: 0;
  
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.icon-label > .center {
  position: relative;
  left: -50%;
  opacity: 1.0;
}
.nav-link:hover .icon{
  opacity: 0;
  -webkit-transition: opacity 0.25s; 
  -moz-transition: opacity 0.25s; 
  -ms-transition: opacity 0.25s; 
  -o-transition: opacity 0.25s; 
  transition: opacity 0.25s;
}
.nav-link:hover .icon-label{
  visibility: visible;
  opacity: 1.0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}